@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-datepicker table td {
  padding: 0 !important;
}

.p-datepicker {
  padding: 0 !important;
}

.p-datepicker .p-datepicker-header {
  padding: 0 !important;
  background: #4f46e5 !important;
  height: 34px !important;
}

.p-datepicker .p-timepicker,
.p-datepicker table th {
  padding: 0 !important;
}

.p-datepicker .p-timepicker span {
  font-size: 1rem !important;
}

.p-calendar-timeonly {
  width: 184px;
  height: 32px;
}

.input-details .p-inputtext {
  height: 40px;
  color: white !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
.p-datepicker-year {
  color: white !important;
}

.p-dropdown,
.input-details .p-inputtext,
.p-calendar .p-inputtext,
.time-div {
  background: #4f46e5 !important;
  border: 0 !important;
  border-radius: 0 !important;
  color: white !important;
}

.p-dropdown .p-dropdown-label.p-placeholder,
.p-dropdown .p-dropdown-trigger,
.p-dropdown .p-dropdown-label {
  color: white !important;
}

.p-dropdown,
.input-details > input {
  width: 247px !important;
}

.p-buttonset .p-button:first-of-type,
.p-buttonset .p-button:last-of-type {
  height: 33px !important;
}

input[type="text"]::placeholder {
  color: white;
}
input[type="tel"]::placeholder {
  color: white;
}
input[type="email"]::placeholder {
  color: white;
}

img {
  max-width: -webkit-fill-available !important;
}

@media only screen and (max-width: 822px) {
  .form-main {
    right: auto !important;
  }
}

@media only screen and (max-width: 622px) {
  .flex {
    display: contents;
  }
  .form-main{
    left: 50%;
    transform: translate(-50%);;
  }
}
