@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-datepicker table td{
    padding: 0 !important;
}

.p-datepicker .p-datepicker-header {
    padding: 0 !important;
}

.p-datepicker .p-timepicker{
    padding: 0 !important;
}

.p-datepicker .p-timepicker span {
    font-size: 1rem !important;
}

.p-calendar-timeonly{
   width: 215px; 
   height: 40px;
}

.input-details .p-inputtext{
    height: 40px;
}